* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: $breakpoint-desktop) {
    padding: 0 24px;
  }
}
